.card {

}

.card .card-content {
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
}

.card .card-content .card-title {
    padding: 16px 24px;
    line-height: 32px;
    color: #fff !important;
    background-color: #077187;  
    position: relative;  
    /** Other color options **/
    /*
    background-color: #517664;
    background-color: #1B998B;
    background-color: #53687E;
    background-color: #33658A;
    background-color: #247BA0;
    */
}

.card .star-btn {
    position: absolute;
    right: 24px;
    top: 17px;
}

.card .content {
    padding: 24px;
    min-height: 80px;
    box-sizing: border-box;
}

.card .card-action {
    display: flex;
    justify-content: space-between;
}

.card .card-action a {
    color: #24292e !important;
}