.repo.page {
    margin-top: 20px;
}

.repo.page .tabs .badge {
    position: absolute;
    right: 4px;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.repo.page .clone-dropdown-container {
    display: inline-block;
    position: absolute;
    position: absolute;
    top: 12px;
    right: 10px;    
}

.repo.page .clone-dropdown {
    height: 140px;
    width: 350px;
    padding: 16px;
    box-sizing: border-box;
}

.repo.page .clone-btn {

    text-transform: none;
}

.repo.page i {
    vertical-align: middle;
    margin-bottom: 1px;
}

.repo.page .tabs {
    margin-top: 20px;
}

.repo.page .tabs .tab {
    position: relative;
    width: 200px;
    background-color: #eee;
    color: #24292e;
    border: 1px solid #ddd;
    transition: background-color 0.25s ease-out; 
}

.repo.page .tabs .tab:hover,
.repo.page .tabs .tab.active {
    background-color: #fff;
}

