body {
    margin: 0;
    padding: 0;
}
#root{
    text-align: center;
}
.main{
    position: relative;
    margin-top: 5vh;
}

.container {
    max-width: 1024px;
    position: relative;
    margin: auto;
}