* {
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #24292e;    
}

.main{
    position: relative;
    margin-top: 5vh;
}

.container {
    max-width: 1024px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.container-md {
    max-width: 860px;
    position: relative;
    margin: auto;
    box-sizing: border-box;    
}

h1 {

}

h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.padding-md {
    padding: 0 20px;
}

.page {
    margin-top: 40px;
}

p.subhead-description {
    margin-top: 0;
    margin-bottom: 10px;    
    font-size: 14px;
    color: #586069;
    text-align: left;    
}


.input-field.col label {
    left: 0;
}

.container .row {
    margin: 0;
}

.row .col {
    padding: 0;
}

nav {
    background: white;
    color: #24292e;
    box-shadow: none;
}

.breadcrumb {
    font-size: 24px;
    color: #24292e;    
}

.breadcrumb:before {
    color: #666;
}

.breadcrumb:last-child {
    color: #000;
}

.collection-header {
    list-style: none;
}

.collection-header h4 {
    font-size: 24px;
}