.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
    height: 72px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}

.header .container {
    height: 100%;
}


.header .main-logo {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;    
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}




.header .main-menu {
    margin-left: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    height: 100%;
}

.header .main-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header .main-menu .plus {
    font-size: 40px;
    margin-right: 14px;
}


.header .main-menu .user {
    width: 40px;
    height: 40px;
    background-image: url('./user.svg');
    background-repeat: no-repeat;
}